.buttonZoneName {
    background-color: rgba(0,0,0,0);
    width: auto;

}
.buttonAvailable {
    fill-opacity: 1;
}

.buttonActive {
    color: #7578ff;
    fill-opacity: 1;
}

.buttonInactive {
    fill-opacity: 0.33;
}

.itemImage {
    border-radius: 5px;
    width: auto;
    height: auto;
    object-fit: contain;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(50,50,50,0.5));
    filter: drop-shadow(5px 5px 5px rgba(50,50,50,0.5));
}

@media screen and (orientation:portrait) {

    #containerCoverImage {
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        height: 59%;
    }

    #containerMusicInfo {
        position: absolute;
        bottom:0px;
        left: 0px;
        right: 0px;
        height: 40%;
        text-align: center;
    }

    .itemImage {
        border-radius: 0;
        max-width: 100%;
        max-height: 100%;
    }

    .largeIcon {
        width: 50%; 
        max-width: 8em;
    }
    
    .smallIcon {
        width: 35%; 
        max-width: 3em;
    }    
}

@media screen and (orientation:landscape) {

    #containerCoverImage {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        width: 49%;
    }

    #containerMusicInfo {
        position: absolute;
        top: 20px;
        bottom: 0px;
        right: 0px;
        width: 49%;
        margin-right: 1%;
        text-align: left;
    }

    .itemImage {
        border-radius: 5px;
        max-width: 92%;
        max-height: 92%;
    }

    .largeIcon {
        width: 80%; 
        max-width: 10em;
    }
    
    .smallIcon {
        width: 55%; 
        max-width: 4em;
    }    
}

#containerCoverImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

#colorBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
}

#notPlaying {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#containerMusicInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

.lineMusicInfo {
    margin-bottom: 1%;
    white-space: nowrap;
}

#line1 {
    height: 10%;
}

#line2, #line3 {
    height: 8%;
}

#controlsPlayer {
    height: 20%;
    width: 100%;
    max-height: 96px;
    margin-top: 5%;
    margin-bottom: 5%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

.playerButton {
    width: 33%;
}

#controlsSettings {
    height: 10%;
    width: 100%;
    max-height: 48px;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

.settingsButton {
    width: 20%;
}

#containerTrackSeek {
    height: 5%;
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 5%;
}

#containerZoneList {
    height: 7%;
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#trackSeek {
    width: 95%;
    height: 5px;
    border-radius: 10px;
    background-color: rgba(239, 240, 241, 0.15);
    position: relative;
    display: block;
    padding: 0;
    align-self: center;
}

#trackSeekValue {
    height: 5px;
    background-color: #7578ff;
    border-radius: 10px;
    padding: 0;
    width: 0%;
}

#trackSeekValue span {
    position: absolute;
    bottom: -15px;
    width: 50%;
    margin: 0;
    line-height: 11px;
    font-size: 11px;
}

#trackSeekValue span.right {
    text-align: right;
    right: 0;
}

#trackSeekValue span.left {
    text-align: left;
    left: 0;
}

#notPlaying {
    background-color: #232629;
    color: #eff0f1;
}

#volumeList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volumeGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.volumeButton {
    color: #eff0f1;
    width: 15%;
}

.volumeSlider {
    width: 70%;
}


#nowplayingZoneList {
    font-size: 14px;
}

hr {
    width: 85%;
}

input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: rgba(0,0,0,0);
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #7578ff;
    border-radius: 10px;
    border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #232629;
    border: 1px solid #232629;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #eff0f1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #7578ff;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #7578ff;
    border-radius: 10px;
    border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #232629;
    border: 1px solid #232629;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #eff0f1;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #7578ff;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
    background: #7578ff;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #232629;
    border: 1px solid #232629;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #eff0f1;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #7578ff;
}
input[type=range]:focus::-ms-fill-upper {
    background: #7578ff;
}
